<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.goodsMapper">
<delete id="goodsDel" parameterType="string">
	delete from products
	where prod_num = #{prodNum}
</delete>
<update id="goodsUpdate" parameterType="Model.GoodsDTO">
	update products
	set PROD_PRICE = #{prodPrice}, PROD_DETAIL = #{prodDetail},
		PROD_CAPACITY = #{prodCapacity},PRUD_SUPPLYER=#{prodSupplyer},
		PROD_DEL_FEE = #{prodDelFee}, RECOMMEND =#{recommend},
		CTGR = #{ctgr}, PROD_IMAGE = #{prodImage}
	where PROD_NUM = #{prodNum}
</update>
<select id="goodsNum" resultType="string">
	select prod_seq.nextval from dual
</select>
<!-- id는 primary key -->
<!-- result는 일반 컬럼 -->
<resultMap type="Model.GoodsDTO" id="baseResult">
	<id column="PROD_NUM" jdbcType="BIGINT" property="prodNum"/>
	<result column="PROD_NAME" jdbcType="VARCHAR" property="prodName"/>
	<result column="PROD_PRICE" jdbcType="BIGINT" property="prodPrice"/>
	<result column="PROD_IMAGE" jdbcType="VARCHAR" property="prodImage"/>
	<result column="PROD_DETAIL" jdbcType="VARCHAR" property="prodDetail"/>
	<result column="PROD_CAPACITY" jdbcType="BIGINT" property="prodCapacity"/>
	<result column="PRUD_SUPPLYER" jdbcType="VARCHAR" property="prodSupplyer"/>
	<result column="PROD_DEL_FEE" jdbcType="BIGINT" property="prodDelFee"/>
	<result column="RECOMMEND" jdbcType="VARCHAR" property="recommend"/>	
	<result column="employeeId" jdbcType="VARCHAR" property="employeeId"/>
	<result column="CTGR" jdbcType="VARCHAR" property="ctgr"/>
</resultMap>
<select id="goodsDetail" parameterType="string" 
									resultMap="baseResult">
	select PROD_NUM, PROD_NAME, 
			PROD_PRICE, PROD_IMAGE,
			PROD_DETAIL, PROD_CAPACITY,
			PRUD_SUPPLYER, PROD_DEL_FEE,
			RECOMMEND , EMPLOYEE_ID,
			CTGR
	from products
	where PROD_NUM = #{prodNum}
</select>

<insert id="goodsInsert" parameterType="Model.GoodsDTO">
	insert into products(PROD_NUM, PROD_NAME, PROD_PRICE, PROD_DETAIL,
	PROD_CAPACITY, PRUD_SUPPLYER, PROD_DEL_FEE, RECOMMEND, 
	EMPLOYEE_ID, CTGR, PROD_IMAGE)
	values(#{prodNum},#{prodName},#{prodPrice},#{prodDetail},
	#{prodCapacity},#{prodSupplyer},#{prodDelFee},#{recommend},
	#{employeeId},#{ctgr},
	<if test="prodImage != null">#{prodImage}</if>
	<if test="prodImage == null">null</if>
	)
</insert>
<select id="goodsList" resultType="Model.GoodsDTO">
	select PROD_NUM prodNum, PROD_NAME prodName, PROD_PRICE prodPrice, 
			PROD_DETAIL prodDetail, PROD_CAPACITY prodCapacity, 
			PRUD_SUPPLYER prodSupplyer, PROD_DEL_FEE prodDelFee, 
			RECOMMEND recommend, EMPLOYEE_ID employeeId, CTGR ctgr, 
			PROD_IMAGE prodImage
	from products
</select>





</mapper>