<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.library.LibraryController" />
	<bean class="service.library.LibraryService" />
	<bean class="repository.LibraryRepository" />
	<bean class="service.library.LibraryListService" />
	<bean class="service.library.LibraryInfoService" />
	<bean class="service.library.LibraryModifyService" />
	<bean class="service.library.LibraryDeleteService" />
	
</beans>