<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.employee.EmployeeController" />
	<bean id = "employeeNumService" 
		class="service.employee.EmployeeNumService"/>
	<bean id="employeeRepository" 
		class="repository.EmployeeRepository"/>
	<bean id="employeeJoinService"
	    class="service.employee.EmployeeJoinService"/>
	<bean id="employeeListService" 
		class="service.employee.EmployeeListService"/>
	<bean id="employeeInfoService" 
		class="service.employee.EmployeeInfoService"/>
	<bean id="employeeUpdateService" 
		class="service.employee.EmployeeUpdateService"/>	
	
	<bean id="employeeDeleteService" 
		class="service.employee.EmployeeDeleteService"/>
	
</beans>