<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">
<select id="memInfo" parameterType="string" 
		resultType="Model.MemberDTO">
	select MEM_ID memId,MEM_PW memPw,MEM_ADDRESS memAddress, MEM_NAME memName,
	 	   MEM_PHONE memPhone, MEM_BIRTH memBirth, MEM_GENDER memGender, 
	 	   MEM_ACCOUNT memAccount, MEM_EMAIL memEmail, MEM_EMAIL_CK memEmailCk,
		   POST_NUMBER postNumber, DETAIL_ADD detailAdd
	from member
	where MEM_ID = #{memId}
</select>

<delete id="memDelete" parameterType="string">
	delete from member
	where  MEM_ID = #{memId}
</delete>

<delete id="memDel" parameterType="string">
	delete from member
	where mem_id = #{memId}
</delete>
<update id="memPwUpdate" parameterType="Model.MemberDTO">
	update member
	set MEM_PW = #{memPw}
	where mem_id = #{memId}
</update>
<update id="memUpdate" parameterType="Model.MemberDTO">
	update member
	set POST_NUMBER = #{postNumber}, MEM_ADDRESS=#{memAddress} , 
		DETAIL_ADD = #{detailAdd}, MEM_EMAIL = #{memEmail} , 
		MEM_EMAIL_CK = #{memEmailCk} , MEM_PHONE = #{memPhone},
		
		MEM_ACCOUNT = <if test="memAccount == null">null</if>
					  <if test="memAccount != null">#{memAccount}</if>
	where mem_id = #{memId}
</update>
<insert id="memJoin" parameterType="Model.MemberDTO">
	insert into member(MEM_ID,MEM_PW,MEM_ADDRESS, MEM_NAME, MEM_PHONE,
			MEM_BIRTH, MEM_GENDER, MEM_ACCOUNT, MEM_EMAIL, MEM_EMAIL_CK,
			POST_NUMBER, DETAIL_ADD)
	values(#{memId},#{memPw},#{memAddress},#{memName},#{memPhone},
	#{memBirth},#{memGender},
	<if test="memAccount == null">null</if>
	<if test="memAccount != null">#{memAccount}</if>
	,#{memEmail},#{memEmailCk},
	#{postNumber},#{detailAdd})
</insert>
<select id="memList" resultType="Model.MemberDTO" parameterType="string">
	select MEM_ID memId,MEM_PW memPw,MEM_ADDRESS memAddress, MEM_NAME memName,
	 	   MEM_PHONE memPhone, MEM_BIRTH memBirth, MEM_GENDER memGender, 
	 	   MEM_ACCOUNT memAccount, MEM_EMAIL memEmail, MEM_EMAIL_CK memEmailCk,
		   POST_NUMBER postNumber, DETAIL_ADD detailAdd
	from member
	<if test="value != null">
		where MEM_ID = #{memId}
	</if>
</select>
</mapper>


